html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.soundboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: space-evenly;
  grid-gap: .5em;
  justify-content: start;
}

.soundboard--button {
  height: 60px;
}